<% if object.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
    Oops! The <%= object.class.name.humanize.downcase %> could not be saved.<br />
    Please correct the following <%= pluralize(object.errors.count, "error") %>:
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
</div>
<% end %>
