/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap/theme";


body {
  border-top: 8px solid #00ff98;
  background-color: #FED5A7;
}

//
// HEADER //
//

// navigation bottons
.navbar-default {
  height: 100px;
  border-bottom: 1px groove #3070A3;
}

li#login {
  list-style-type:none;
  text-align:right;
}

ul li#salg {
  float:right;
  margin-right:-12px;
  text-align:right;
  color:darkred;
  text-decoration:underline;
}

div.navigation {
  margin: 0 0 0 -22px;
}

ul.navigation_list {
  float:none;
  list-style-type:none;
  margin: 50px 0 0 0;
}
li.navigation_list_hl {
  font-size: 20px;
  margin: 0 0 10px -20px;
}

.navbar-brand {
  font-family: monospace,"Lucida Console", Monaco;
//  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
  margin: 15px auto 0 auto;

}

.logo {
  //margin: 0 40px 0 0;
  position: absolute;
  top: -16px;
  left:13px;
}

#fat-menu {
  //margin-right: -25%;
}

//
// FLASH MSG
//
.flash {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

//
// Books //
//

.col-sm-8 {
  //border-left: 2px solid #F2F2F2;
  //border-right: 2px solid #F2F2F2;
  padding-left: 2px;
  padding-right: 8px;
}

#books {

}

#books .well {
  background-color: #fff;
}

#books .book_cover {
  margin-bottom: 4px;
}

#books .forfatter {
  font-size: 9px;
  color: darkred;
}

#books .cover {
  font-size: 9px;
}

.books_headline {
  padding-bottom: 20px;
}

.book_info {
  float:left;
  //margin: -6px 0 0 45px;
  //border-color: #00ff98;
  font-size: 13px;
}

.avg_stars {
  display:inline;
  position: absolute;
  top: 100px;
  left: -50px;
}

.sign_up {
  position: absolute;
  top: 80px;
  left: 90%;
  list-style-type:none;
}

.page-header {
  border-bottom: 0px solid;
}


.page_entires_container {
  clear: both;
}

.inline-button-form {
  display: inline-block;
}

select.form-control {
  width:auto;

  &.date-select {
    display: inline;
  }
}

.page-entries-info {
  margin-top: 20px;
}

