/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap/theme";


body {
  border-top: 8px solid #5ce638;
  margin-bottom: 60px;
  background-color: #FED5A7;
}

.logo {
  margin-left: 55px;
}

.headline {
  font-size:42px;
  float:left;
  margin-left: 110px;
}

.book_info {
  margin: -6px 0 0 45px;
}

.reviews {
  float:left;
  color:green;
  position:absolute;
  margin-left: -50px;
  margin-top: 30px;
}

.page-header {
  border-bottom: 0px solid;
}

.inline-button-form {
  display: inline-block;
}

select.form-control {
  width:auto;

  &.date-select {
    display: inline;
  }
}

.page-entries-info {
  margin-top: 20px;
}

#sidebar {
  margin-top: 60px;
  width: 200px;

  &.affix {
    position: fixed;
    top: 20px;
  }

  a.btn {
    color:white;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .btn-default {
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: linear-gradient(to bottom, #FFF 0%, #15DC51 100%) !important;
  }
}

/* make sidebar nav vertical */
@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
  }

  html,body{
    background-color: #f8f8f8;
    height: 100%;
    overflow: hidden;
  }
  .affix-content .container .page-header{
    margin-top: 0;
  }
  .sidebar-nav{
    position:fixed;
    width:100%;
  }
  .affix-sidebar{
    padding-right:0;
    font-size:small;
    padding-left: 0;
  }
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .affix-content{
    background-color:white;
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0;
    margin-bottom:0;
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (min-width: 769px){
  .affix-content .container {
    width: 600px;
  }
  .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 992px){
  .affix-content .container {
    width: 900px;
  }
  .affix-content .container .page-header{
    margin-top: 0;
  }
}
