// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article.book {
  header {
    aside.book-cover {
      float: right;
      margin: 0 0 20px 20px;
    }
  }
}

nav#book-show-buttons {
  margin-top: 2em;
}

.book_normal_cover {
  margin: 50px 0 0 35px;
}

.show_book_description {
  display:inline;
}

.pris {
  color: #008200;
}
