// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// GENRE NAVIGATION //
ul.navigation_list {
  float:none;
  list-style-type:none;
  margin: 50px 0 0 0;
}

p.navigation_list_hl {
  font-size: 20px;
  margin: 0 0 10px -20px;
}

.navigation_list li {
  margin: 0 0 5px 0;
}

#books {
  margin-left:30px;
}

article.book {
  header {
    aside.book-cover {
      float: right;
      margin: 0 0 20px 20px;
    }
  }
}

nav#book-show-buttons {
  margin-top: 2em;
}

#books .well {
  background-color: #fff;
}

#books .book_cover {
  margin-bottom: 4px;
}

#books .forfatter {
  font-size: 9px;
  color: darkred;
}

#books .cover {
  margin-top:-10px;
  font-size: 9px;
}

.books_headline {
  padding-bottom: 20px;
}

.book_info {
  float:left;
  //margin: -6px 0 0 45px;
  //border-color: #00ff98;
  font-size: 13px;
}
.book_normal_cover {
  margin: 50px 0 0 35px;
}

.show_book_description {
  display:inline;
}

.pris {
  color: #008200;
}

.search_container {
  height: 150px;
  width: 150px;
  border-top: 3px solid #5F708F;
  margin-bottom:15px;
}

.search_field {
  float:left;
}

.search_icon {
  margin: 40px 4px 10px 0;
  //float:left;
}

.search_btn {
  margin:7px 0 0 0px;
  float:left;
  clear:both;
}
