<% flash.each do |key, value| -%>
  <div class="alert alert-dismissable flash <%= flash_class(key) %>">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= value -%>
  </div>
<% end -%>
