<header class="page-header">
  <div style="">
    <%= image_tag 'logo.jpg', size: "120" %>
  </div>
  <h1 style="display: inline; "><%= link_to('Kundskabens Træ', root_path) %></h1>
  <% if current_user %>
    <p class="pull-right"><%= current_user.email %></p>
  <% else %>
    <p class="pull-right"><%= link_to 'Login', new_user_session_path %></p>
  <% end %>
</header>
