<div id="sidebar" data-spy="affix" data-offset-top="100">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Things to do...</h3>
  </div>
  <div class="panel-body">
    <p>
      <%= link_to books_path, class: 'btn btn-primary col-md-12 sidebar' do %>
        <span class="pull-left glyphicon glyphicon-list"></span> All Books
      <% end %>
    </p>
    <p>
      <%= link_to bargains_books_path, class: 'btn btn-primary col-md-12 sidebar' do %>
        <span class="pull-left glyphicon glyphicon-star"></span> Bargains
      <% end %>
    </p>
    <% if user_signed_in? %>
      <p>
        <%= link_to new_book_path, class: 'btn btn-primary col-md-12 sidebar' do %>
          <span class="pull-left glyphicon glyphicon-plus"></span> Create Book
        <% end %>
      </p>
    <% end %>
  </div>
</div>
</div>
